* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: black;
  }


/* NAV BAR */

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

header{
  position: sticky;
  top: 0px;
  background-color: black;
  width: 100%;
  z-index: 1000;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(56, 165, 238, 0.5);
}

.container2{
  max-width: 65rem;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.search-box{
  padding: 2px;
  height: 80%;
  width: 300px;
  margin: auto;
  background-color: white;
  display: flex;
  border-radius: 100px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  


}
.search-box:hover{
box-shadow: 12px 10px 12px rgba(0,0,0,0.5);
}
.search-btn{
  color: white;
  float: right;
  width: 20%;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-txt{
  /* padding-top: 10px; */
  /* padding-left: 90px; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  margin: auto;
  width: 70%;
  padding: 10px;
  overflow: hidden;
  outline: none;
  border: none;
  /* background: none; */
}

.logo-container{
  flex: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-btn{
  flex: 3;
  display: flex;
}

.nav-links{
  flex: 2;
}

.log-sign{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo{
  cursor: pointer;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 4rem;
}

.logo span{
  font-weight: 300;
}

.btn{
  display: inline-block;
  padding: .5rem 1.3rem;
  font-size: .8rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  line-height: 1;
  margin: 0 .2rem;
  transition: .3s;
  text-transform: uppercase;
}

.btn.solid, .btn.transparent:hover{
  background-color: #fff;
  color: #69bde7;
}

.btn.transparent, .btn.solid:hover{
  background-color: transparent;
  color: #fff;
}

.nav-links > ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link{
  position: relative;
}

.nav-link > a{
  line-height: 4rem;
  color: #fff;
  padding: 0 .8rem;
  letter-spacing: 1px;
  font-size: .95rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s;
}

.nav-link > a > i{
  margin-left: .2rem;
}

.nav-link:hover > a{
  transform: scale(1.1);
}

.dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  width: 10rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}

.dropdown ul{
  position: relative;
}

.dropdown-link > a{
  display: flex;
  background-color: #fff;
  color: grey;
  padding: .5rem 1rem;
  font-size: .9rem;
  align-items: center;
  justify-content: space-between;
  transition: .3s;
}

.dropdown-link:hover > a{
  background-color: #3498db;
  color: #fff;
}

.dropdown-link:not(:nth-last-child(2)){
  border-bottom: 1px solid #efefef;
}

.dropdown-link i{
  transform: rotate(-90deg);
}

.arrow{
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: #fff;
  transform: rotate(45deg);
  cursor: pointer;
  transition: .3s;
  z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow{
  background-color: #3498db;
}

.dropdown-link{
  position: relative;
}

.dropdown.second{
  top: 0;
  left: 100%;
  padding-left: .8rem;
  cursor: pointer;
  transform: translateX(10px);
}

.dropdown.second .arrow{
  top: 10px;
  left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.hamburger-menu-container{
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu{
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu div{
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  z-index: 1001;
  transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #fff;
  border-radius: 3px;
  transition: .5s;
}

.hamburger-menu div:before{
  transform: translateY(-7px);
}

.hamburger-menu div:after{
  transform: translateY(7px);
}

#check{
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
  background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
  transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
  transform: translateY(0) rotate(45deg);
}

@keyframes animation{
  from{
      opacity: 0;
      transform: translateY(15px);
  }
  to{
      opacity: 1;
      transform: translateY(0px);
  }
}

@media (max-width: 920px){
  .google{
      display: none;
  }
  .hamburger-menu-container{
      display: flex;
  }

  #check{
      display: block;
  }

  .nav-btn{
      position: fixed;
      height: calc(100vh - 3rem);
      top: 3rem;
      left: 0;
      width: 100%;
      background-color: #69bde7;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      overflow-x: hidden;
      overflow-y: auto;
      transform: translateX(100%);
      transition: .65s;
  }

  #check:checked ~ .nav-btn{
      transform: translateX(0);
  }

  #check:checked ~ .nav-btn .nav-link,
  #check:checked ~ .nav-btn .log-sign{
      animation: animation .5s ease forwards var(--i);
  }

  .nav-links{
      flex: initial;
      width: 100%;
  }

  .nav-links > ul{
      flex-direction: column;
  }

  .nav-link{
      width: 100%;
      opacity: 0;
      transform: translateY(15px);
  }

  .nav-link > a{
      line-height: 1;
      padding: 1.6rem 2rem;
  }

  .nav-link:hover > a{
      transform: scale(1);
      background-color: #50a9d6;
  }

  .dropdown, .dropdown.second{
      position: initial;
      top: initial;
      left: initial;
      transform: initial;
      opacity: 1;
      pointer-events: auto;
      width: 100%;
      padding: 0;
      background-color: #3183ac;
      display: none;
  }
  
  .nav-link:hover > .dropdown,
  .dropdown-link:hover > .dropdown{
      display: block;
  }

  .nav-link:hover > a > i,
  .dropdown-link:hover > a > i{
      transform: rotate(360deg);
  }

  .dropdown-link > a{
      background-color: transparent;
      color: #fff;
      padding: 1.2rem 2rem;
      line-height: 1;
  }

  .dropdown.second .dropdown-link > a{
      padding: 1.2rem 2rem 1.2rem 3rem;
  }

  .dropdown.second .dropdown.second .dropdown-link > a{
      padding: 1.2rem 2rem 1.2rem 4rem;
  }

  .dropdown-link:not(:nth-last-child(2)){
      border-bottom: none;
  }

  .arrow{
      z-index: 1;
      background-color: #69bde7;
      left: 10%;
      transform: scale(1.1) rotate(45deg);
      transition: .5s;
  }

  .nav-link:hover .arrow{
      background-color: #50a9d6;
  }

  .dropdown .dropdown .arrow{
      display: none;
  }

  .dropdown-link:hover > a{
      background-color: #3a91bd;
  }

  .dropdown-link:first-child:hover ~ .arrow{
      background-color: #50a9d6;
  }

  .nav-link > a > i{
      font-size: 1.1rem;
      transform: rotate(-90deg);
      transition: .7s;
  }

  .dropdown i{
      font-size: 1rem;
      transition: .7s;
  }

  .log-sign{
      flex: initial;
      width: 100%;
      padding: 1.5rem 1.9rem;
      justify-content: flex-start;
      opacity: 0;
      transform: translateY(15px);
  }
}


/* BACK IMAGE */



.back-img {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('back-img4.jpg');
  background-size: cover;
  height: 100vh;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.title h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}


/* CARDS */
  
  .content-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
  }
  
  .news-card {
    border: 0px solid aqua;
    margin: 0.5rem;
    position: relative;
    height: 12rem;
    overflow: hidden;
    border-radius: 0.5rem;
    flex: 1;
    min-width: 290px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }
  
  @media (min-width: 900px) {
  
  .news-card {
      height: 20rem
  }
    }
  
  .news-card::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);;
        z-index: 0;
      }
  
  .news-card__card-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
  /*     background: rgba(255,0,0,.5); */
    }
  
  .news-card__image {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      transition: transform 3s ease;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: relative;
      z-index: -1;
    }
  
  .news-card__text-wrapper {
      position: absolute;
      bottom: 0rem;
      padding: 1rem;
      color: white;
  /*     background-color: rgba(0, 0, 0, 0.4); */
      transition: background-color 1.5s ease;
    }
  
  .news-card__title {
      transition: color 1s ease;
      margin-bottom: .5rem;
    }
  
  
  
  .news-card__details-wrapper {
      max-height: 0;
      opacity: 0;
      transition: max-height 1.5s ease, opacity 1s ease;
    }
  
  @media (min-width: 900px) {
      .news-card:hover .news-card__details-wrapper {
        max-height: 20rem;
        opacity: 1;
      }
      .news-card:hover .news-card__text-wrapper {
        background-color: rgba(0, 0, 0, 0.6);
      }
      .news-card:hover .news-card__title {
        color: #69bde7;
      }
      .news-card:hover .news-card__image {
        transform: scale(1.2);
        z-index: -1;
      }
    }
  
  .news-card__excerpt {
      font-weight: 300;
    }
  
  .news-card__read-more {
      background: black;
      color: #bbb;
      display: block;
      padding: 0.4rem 0.6rem;
      border-radius: 0.3rem;
      margin-top: 1rem;
      border: 1px solid #444;
      font-size: 0.8rem;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      text-decoration: none;
      width: 6rem;
      /* margin-left: auto; */
      position: relative;
      z-index: 5;
    }
  
  .news-card__read-more i {
        position: relative;
        left: 0.2rem;
        color: #888;
        transition: left 0.5s ease, color 0.6s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
  
  .news-card__read-more:hover i {
        left: 0.5rem;
        color:#69bde7;
      }



      .news-card__remove {
        background: black;
        color: #bbb;
        display: block;
        padding: 0.4rem 0.6rem;
        border-radius: 0.3rem;
        margin-top: 1rem;
        border: 1px solid #444;
        font-size: 0.8rem;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        text-decoration: none;
        width: 5rem;
        position: relative;
        z-index: 5;
      }
    
    .news-card__remove i {
          position: relative;
          left: 0.2rem;
          color: #888;
          transition: left 0.5s ease, color 0.6s ease;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }
    
    .news-card__remove:hover i {
          left: 0.5rem;
          color:#69bde7;
        }
  