body{
    background:url('img/movie.jpg');
    background-size: cover;
    font-family:Arial;
}

.wrap{
    max-width: 450px;
    max-height: 1500px;
    border-radius: 20px;
    margin: auto;
    background:rgba(0,0,0,0.8);
    box-sizing:border-box;
    padding: 40px;
    color: #fff;
    margin-top:100px;

}
h2{

    text-align:center;
}
input[type=text] ,input[type=password] {

    width:100%;
    box-sizing:border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.10);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin:5px;
    font-weight: bold;
}
textarea{

    width:100%;
    box-sizing:border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.10);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin:5px;
    font-weight: bold;
}
input[type=submit]{

    width:100%;
    box-sizing:border-box;
    padding: 10px 0;
    margin-top: 30px;
    background: #60adde;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 20px;
    opacity:0.7;
    font-size: 20px;
}
input[type=submit] :hover {
    background:#003366;
    opacity:0.7;
}

