/*body{
    background:url('movie.jpg');
    background-size: cover;
    font-family:Arial;
}

.wrap{
    max-width: 450px;
    max-height: 1500px;
    border-radius: 20px;
    margin: auto;
    background:rgba(0,0,0,0.8);
    box-sizing:border-box;
    padding: 40px;
    color: #fff;
    margin-top:100px;

}
h2{

    text-align:center;
}
input[type=text] ,input[type=password] {

    width:100%;
    box-sizing:border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.10);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin:5px;
    font-weight: bold;
}
textarea{

    width:100%;
    box-sizing:border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.10);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin:5px;
    font-weight: bold;
}
input[type=submit]{

    width:100%;
    box-sizing:border-box;
    padding: 10px 0;
    margin-top: 30px;
    background: #60adde;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 20px;
    opacity:0.7;
    font-size: 20px;
}
input[type=submit] :hover {
    background:#003366;
    opacity:0.7;
}

*/


body{
    background-image: url(movie.jpg);
    background-size: cover;
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    

}
.box{
    position: absolute; 
    width: 450px;
    height: 500px;
    background-color: black;
    opacity: 0.9;
    top: 10%;
    left: 32%;
    color: white;
    font-family: 'Roboto Mono', monospace;
    

}
.box h1{
    color: #25aae1;
}
.google{
    width: 220px;
    height: 50px;
    border: 1px solid #4285f4;
    height: 50px
    margin:auto;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    color: white;
    cursor: pointer;


}
.google:hover{
    box-shadow: 0 10px 10px 0 rgba(1, 1, 1, 0.2), 0 16px 20px 0 rgba(1, 1, 1, 0.19);

}
.logoG{
    width: 30%;
    text-align: center;
}
.text{
    width: 70%;
    text-align: center;
    line-height: 50px;
    background-color: #4285f4;
    height: 100%;
}
.form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 93%;
    flex-direction: column;
    font-family: sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.input1{
    position: relative;
    width:50%;
    height: 50px;
    overflow: hidden;
    
}
.input1 input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: black;
    padding-top: 10px;
    outline: none;
    color: white;
}
.input1 label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    color: white;
    border-bottom: 1px solid white;
    pointer-events: none;
}
.input1 label::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #25aae1;
    left: 0px;
    bottom: -1px;
    transform: translateX(-100%);
    transition: transform 0.3s ease ;
}
.content-email{
    position: absolute;
    bottom: 5px;
    transition: all 0.3s ease;
}
.input1 input:focus + .label-email .content-email,.input1 input:valid+.label-email .content-email{
    transform: translateY(-150%);
    color: #25aae1;
    font-size: 14px;

    
}
.input1 input:focus + .label-email::after, .input1 input:valid + .label-email::after{
    transform: translateX(0%);
}
input[type='submit']{
    width:50%;
    height: 50px;
    background-color: #25aae1;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;

}
input[type='submit']:hover{
 opacity: 0.7;
 color: black;
}
.help{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 20px;
}
.help label{
    color: white;
    
}
.help a{
    color: white;
    text-decoration: none;
}
.help a:hover{
    color: #25aae1;
}
@media screen and (max-width: 1024px) {
    .box{
        width: 100%;
        position: static;
        height: 100vh;
        opacity: 1;
    }


}
@media screen and (max-width: 768px) {
    .box{
        position: static;
        width: 100%;
        height: 100vh;
        opacity: 1;
    }

}
#correct{
    color: red;
    font-size: 12px;
}
