
.fantheory{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 80%;
    
    margin: auto;
}
.subset{
    width: 100%;
    min-height:80px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    border-bottom: 1px solid black;
    font-family: 'Roboto Mono', monospace;
    background-color: #1f2833;
    color: white;
}
.subset:hover{
    background-color: beige; 
    color: black;

}
.content1{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}
.fa .fa-eye{
    opacity: 0.3;

}
.views{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5%;
}
.whole{
    display: flex;
    width: 100%;
    height: 400px;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text1{
    width: 90%;
    margin: auto;
    height: 100%;
}
textarea{
    resize: none;

}

input[type="submit"]{
    background-color: #25aae1;
    outline: none;
    border: none;
    width: 20%;
    height: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

}
input[type="submit"]:hover{
    opacity: 0.8;

}


