#description1{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    width: 80%;
}
.fantheory{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 80%;
    
    margin: auto;
}
.subset{
    width: 100%;
    min-height:80px;
    display: flex;
    justify-content: space-;
    align-items: center;
    border-radius:60px; 
    background-color: antiquewhite;
    font-family: 'Roboto Mono', monospace;
    background-color: #1f2833;
    color: white;
    margin: 3px;
    cursor: pointer;
}
.subset:hover{
    background-color: beige; 
    color: black;

}
.content1{
    display: flex;
    width: 70%;
    margin-left:20px; 
    align-items: center;
    justify-content: flex-start;
}
.content:hover{
    color: black;
}
.fa .fa-eye{
    opacity: 0.3;

}
.views{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5%;
}


.stars{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    cursor: pointer;
}
input[type="submit"]{
    background-color: #25aae1;
    outline: none;
    border: none;
    width: 20%;
    height: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

}
input[type="submit"]:hover{
    opacity: 0.8;

}
textarea{
    width: 80%;
}
.text1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 100%;
    margin: auto;
    flex-direction: column;

    text-indent: 25px;
}
.review1{
    width: 60%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.round{
        width: 50px;
        height: 50px;
        text-align: center;
        padding-top: 13px; 
        margin-left:10px; 
        background-color: red;
        border-radius: 50px;
        padding: 10px;
        border: 1px solid white;
        cursor: pointer;
        text-transform: capitalize;
}
.round:hover{
        opacity: 0.7;
    }


@media (max-width: 920px){
    .fantheory{
        width: 100%;
        justify-content: space-around;
    }
    .subset{
        display: flex;
        justify-content: space-between;
    }
  }



