@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
   

}

.movie_details
{
    position: absolute;
    left:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;

}
header .logo
{
    max-width: 120px;
    margin-top: 20px;

}
header.toggle{

    max-width: 60px;
    cursor: pointer;
}
/*profile*/
.profile {
        margin-top: 8px;
        color: white;
        width: 50px;
        height: 50px;
        text-align: center;
        padding-top: 15px; 
        background-color: red;
        border-radius: 50px;
        border: 1px solid white;
        cursor: pointer;


    }
    .profile a{
        text-decoration: none;
        color: white;
        width: 100%;
    }
    .profile:hover{
        opacity: 0.7;
    }
    .stars:hover{

    }
.star{
    outline: none;
    border: none;
    background-color:white;
    margin: 3px;
    font-size: 30px;
    cursor: pointer;
    opacity: 0.3 
}


/*Nab-bar*/
ul{
        list-style: none;
    }
    
    a{
        text-decoration: none;
    }
    
    .header{
        position: sticky;
        top: 0px;
        background-color: black;
        width: 100%;

        z-index: 2000;
    }

    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgb(56, 165, 238, 0.5);
    }
    
    .container2{
        max-width: 65rem;
        padding: 0 2rem;
        margin: 0 auto;
        display: flex;
        position: relative;
    }

    .search-box{
        padding: 2px;
        height: 80%;
        width: 300px;
        margin: auto;
        background-color: white;
        display: flex;
        border-radius: 100px; 
        display: flex;
        justify-content: space-around;
        align-items: center;
        


    }
.search-box:hover{
    box-shadow: 12px 10px 12px rgba(0,0,0,0.5);
}
    .search-btn{
        color: white;
        float: right;
        width: 20%;
        height: 28px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .search-txt{
        /* padding-top: 10px; */
        /* padding-left: 90px; */
        /* top: 50%;
        left: 50%; */
        /* transform: translate(-50%, -50%); */
        margin: auto;
        width: 70%;
        padding: 10px;
        overflow: hidden;
        outline: none;
        border: none;
        /* background: none; */
    }
    
    .logo-container{
        flex: 1;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    
    .nav-btn{
        flex: 3;
        display: flex;
    }
    
    .nav-links{
        flex: 2;
    }
    
    .log-sign{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
    
    .logo1{
        cursor: pointer;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 4rem;
    }
    
    .logo1 span{
        font-weight: 300;
    }
    
    .btn{
        display: inline-block;
        padding: .5rem 1.3rem;
        font-size: .8rem;
        border: 2px solid #fff;
        border-radius: 2rem;
        line-height: 1;
        margin: 0 .2rem;
        transition: .3s;
        text-transform: uppercase;
    }
    
    .btn.solid, .btn.transparent:hover{
        background-color: #fff;
        color: #69bde7;
    }
    
    .btn.transparent, .btn.solid:hover{
        background-color: transparent;
        color: #fff;
    }
    
    .nav-links > ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav-link{
        position: relative;
    }
    
    .nav-link > a{
        line-height: 4rem;
        color: #fff;
        padding: 0 .8rem;
        letter-spacing: 1px;
        font-size: .95rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: .5s;
    }
    
    .nav-link > a > i{
        margin-left: .2rem;
    }
    
    .nav-link:hover > a{
        transform: scale(1.1);
    }
    
    .dropdown{
        position: absolute;
        top: 100%;
        left: 0;
        width: 10rem;
        transform: translateY(10px);
        opacity: 0;
        pointer-events: none;
        transition: .5s;
    }
    
    .dropdown ul{
        position: relative;
    }
    
    .dropdown-link > a{
        display: flex;
        background-color: #fff;
        color: grey;
        padding: .5rem 1rem;
        font-size: .9rem;
        align-items: center;
        justify-content: space-between;
        transition: .3s;
    }
    
    .dropdown-link:hover > a{
        background-color: #3498db;
        color: #fff;
    }
    
    .dropdown-link:not(:nth-last-child(2)){
        border-bottom: 1px solid #efefef;
    }
    
    .dropdown-link i{
        transform: rotate(-90deg);
    }
    
    .arrow{
        position: absolute;
        width: 11px;
        height: 11px;
        top: -5.5px;
        left: 32px;
        background-color: #fff;
        transform: rotate(45deg);
        cursor: pointer;
        transition: .3s;
        z-index: -1;
    }
    
    .dropdown-link:first-child:hover ~ .arrow{
        background-color: #3498db;
    }
    
    .dropdown-link{
        position: relative;
    }
    
    .dropdown.second{
        top: 0;
        left: 100%;
        padding-left: .8rem;
        cursor: pointer;
        transform: translateX(10px);
    }
    
    .dropdown.second .arrow{
        top: 10px;
        left: -5.5px;
    }
    
    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown{
        transform: translate(0, 0);
        opacity: 1;
        pointer-events: auto;
    }
    
    .hamburger-menu-container{
        flex: 1;
        display: none;
        align-items: center;
        justify-content: flex-end;
    }
    
    .hamburger-menu{
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    .hamburger-menu div{
        width: 1.6rem;
        height: 3px;
        border-radius: 3px;
        background-color: #fff;
        position: relative;
        z-index: 1001;
        transition: .5s;
    }
    
    .hamburger-menu div:before,
    .hamburger-menu div:after{
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: #fff;
        border-radius: 3px;
        transition: .5s;
    }
    
    .hamburger-menu div:before{
        transform: translateY(-7px);
    }
    
    .hamburger-menu div:after{
        transform: translateY(7px);
    }
    
    #check{
        position: absolute;
        top: 50%;
        right: 1.5rem;
        transform: translateY(-50%);
        width: 2.5rem;
        height: 2.5rem;
        z-index: 90000;
        cursor: pointer;
        opacity: 0;
        display: none;
    }
    
    #check:checked ~ .hamburger-menu-container .hamburger-menu div{
        background-color: transparent;
    }
    
    #check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
        transform: translateY(0) rotate(-45deg);
    }
    
    #check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
        transform: translateY(0) rotate(45deg);
    }
    
    @keyframes animation{
        from{
            opacity: 0;
            transform: translateY(15px);
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
    @media (max-width: 920px){
        .google{
            display: none;
        }
        .hamburger-menu-container{
            display: flex;
        }
    
        #check{
            display: block;
        }
    
        .nav-btn{
            position: fixed;
            height: calc(100vh - 3rem);
            top: 3rem;
            left: 0;
            width: 100%;
            background-color: #69bde7;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            overflow-x: hidden;
            overflow-y: auto;
            transform: translateX(100%);
            transition: .65s;
        }
    
        #check:checked ~ .nav-btn{
            transform: translateX(0);
        }
    
        #check:checked ~ .nav-btn .nav-link,
        #check:checked ~ .nav-btn .log-sign{
            animation: animation .5s ease forwards var(--i);
        }
    
        .nav-links{
            flex: initial;
            width: 100%;
        }
    
        .nav-links > ul{
            flex-direction: column;
        }
    
        .nav-link{
            width: 100%;
            opacity: 0;
            transform: translateY(15px);
        }
    
        .nav-link > a{
            line-height: 1;
            padding: 1.6rem 2rem;
        }
    
        .nav-link:hover > a{
            transform: scale(1);
            background-color: #50a9d6;
        }
    
        .dropdown, .dropdown.second{
            position: initial;
            top: initial;
            left: initial;
            transform: initial;
            opacity: 1;
            pointer-events: auto;
            width: 100%;
            padding: 0;
            background-color: #3183ac;
            display: none;
        }
        
        .nav-link:hover > .dropdown,
        .dropdown-link:hover > .dropdown{
            display: block;
        }
    
        .nav-link:hover > a > i,
        .dropdown-link:hover > a > i{
            transform: rotate(360deg);
        }
    
        .dropdown-link > a{
            background-color: transparent;
            color: #fff;
            padding: 1.2rem 2rem;
            line-height: 1;
        }
    
        .dropdown.second .dropdown-link > a{
            padding: 1.2rem 2rem 1.2rem 3rem;
        }
    
        .dropdown.second .dropdown.second .dropdown-link > a{
            padding: 1.2rem 2rem 1.2rem 4rem;
        }
    
        .dropdown-link:not(:nth-last-child(2)){
            border-bottom: none;
        }
    
        .arrow{
            z-index: 1;
            background-color: #69bde7;
            left: 10%;
            transform: scale(1.1) rotate(45deg);
            transition: .5s;
        }
    
        .nav-link:hover .arrow{
            background-color: #50a9d6;
        }
    
        .dropdown .dropdown .arrow{
            display: none;
        }
    
        .dropdown-link:hover > a{
            background-color: #3a91bd;
        }
    
        .dropdown-link:first-child:hover ~ .arrow{
            background-color: #50a9d6;
        }
    
        .nav-link > a > i{
            font-size: 1.1rem;
            transform: rotate(-90deg);
            transition: .7s;
        }
    
        .dropdown i{
            font-size: 1rem;
            transition: .7s;
        }
    
        .log-sign{
            flex: initial;
            width: 100%;
            padding: 1.5rem 1.9rem;
            justify-content: flex-start;
            opacity: 0;
            transform: translateY(15px);
        }
    }

header .logo img,
header .toggle img
{
    max-width: 100%;
}

.whole{
    display: flex;
    width: 100%;
    height: 400px;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
textarea{
    resize: none;

}
.stars{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    cursor: pointer;
}
input[type="submit"]{
    background-color: #25aae1;
    outline: none;
    border: none;
    width: 20%;
    height: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

}
input[type="submit"]:hover{
    opacity: 0.8;

}
.text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    margin: auto;
    flex-direction: column;

    text-indent: 25px;
}
.review{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 60%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.watch{
    display: flex;
    align-items: center;
    width: 40%;
    padding:30px; 
    margin-top:20px; 
    color: #25aae1;
    cursor: pointer;
}
.watch p{
    margin:5px;
}
.banner
{
    position: relative;
    width:100%;
    min-height: 100vh;
    padding: 0 100px;
    background: url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    
}

.banner .content
{
    max-width: 550px;
}
.banner .content h2
{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 0.1em;
    color: #fff;
}

.banner .content h2 span
{
    font-weight:800;
}

.banner .content p
{
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    color: #fff;
    margin: 15px 0 35px;

}
.play
{
    position: relative;
    display: inline-flex;
    justify-content:flex-start;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    letter-Spacing: 2px;
    font-size: 1.2em;

}
.play img
{
    margin-right: 10px;
    max-width: 50px;
}

.sci
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.sci li 
{
    list-style: none;
}

.sci li a 
{
    text-decoration: none;
}

.sci li a img 
{
    filter: invert(1);
    transform: scale(0.6);
}

.trailer
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000;
    background: rgba(0,0,0,0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}
.trailer.active
{
    visibility: visible;
    opacity: 1;
}
.trailer video
{
    max-width: 900px;
    outline:none;

}
.trailer .close
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor:pointer;
    filter: invert(1);
    max-width: 32px;
}

@media (max-width: 991px)
{
    .review{
        width: 100%;
    }
    textarea{
        margin: 10px;
        resize: none;
    }
    header 
    {
        padding:20px 50px;
    }
    header 
    {
        padding:20px 50px;
    }

    header .logo
    {
      max-width: 80px;
    }
    header .toggle
    {
      max-width: 40px;
    }
    .banner
    {
       
        padding: 100px 50px;
    }

    .banner .content h2
    {
        font-weight: 400;
        font-size: 2em;
        letter-spacing: 0.05;
    }
    .banner .content p
    {
        font-size: 1em;
    }
    .sci
    {
    position: absolute;
    top: initial;
    right: initial;
    margin-top: 40px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    }
    .sci li{

        list-style: none;
        margin: 0 5px;

    }
    .trailer video{

        max-width: 90px;
        outline:none;
    }

}

/* Next Section */

.head-review{
    margin: 1.75rem auto;
    width: 150px;
    height: 150px;
  }
.sec-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
  }
  
  .body-review{
    /* background-color: rgb(238, 238, 238); */
    padding: 2.5rem;
    /* box-shadow: 2px 2px 10px 3px rgb(225, 225, 225); */
    
  }
  .name-review{
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
    margin-bottom: .25rem;
  }
  .place-review{
    color: red;
    font-style: italic;
  }
  .rating{
    color: rgb(253, 180, 42);
    margin: 1rem 0;
  }
  .desc-review{
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: rgb(150, 150, 150);
  }
  
  

  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
  }

  section {
    display: -webkit-flex;
    display: flex;
  }
  
  /* Style the navigation menu */
  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }

  