
.tabContainer{
    width: 100%;
}
.vertical{
    margin-top:20px;
}
.buttonContainer{
    height: 15%;
    width: 90%;
    margin-bottom: 20px;
    margin: auto;
    

}

 .buttonContainer button{

    width:33%;
    height: 100%;
    float: left;
    cursor: pointer;
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 18px;
    background-color: white;
}
.tabContainer .buttonContainer button:hover{
    
}



