@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.footer{
    background-color: #0E2431;
    color:white;

    text-align: center;
    font-weight: 600;
    padding: 1rem 0;
  }
  .footer__title{
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .footer__social{
    margin-bottom: 2rem;
  }
  .footer__icon{
    font-size: 1.5rem;
    color: #fff;
    margin: 1rem;
  }