    *
    {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        
    }

    body{
        background-color: black;
    }

    .slider
    {
        height: 600px;
        width: 100%;
        overflow: hidden;
        
    }
    .sliderchild{
        height: 600px;
        width:500%;
        animation: slider infinite 20s 2s;
    }
    .imagecon{
        height:600px;
        width: 20%;
        background-color: gray;
        float: left;
        line-height: 500px;
        color:white;
        text-align: left;
        font-size: 70px;
        font-family: 'Times New Roman', Times, serif;

    }
    
    .sliderchild a{
        padding-left: 50px;
        padding-top: 100px;
        color: white;
    }


    .imagecon:nth-child(1){
        background-image: url('../homepage-images/joker.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .imagecon:nth-child(2){
        background-image: url('../homepage-images/parasite.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .imagecon:nth-child(3){
        background-image: url('../homepage-images/007.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .imagecon:nth-child(4){
        background-image: url('../homepage-images/widow.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
     

     @keyframes slider{
        12.5%
        {
            margin-left: -100%;
        }
        25%
        {
            margin-left: -100%;
        }
        37.5%
        {
            margin-left: -200%;
        }
        50%
        {
            margin-left: -200%;
        }
        62.5%
        {
            margin-left: -300%;
        }
        75%
        {
            margin-left: -300%;
        }
        87.5%
        {
            margin-left: -400%;
        }
        100%
        {
            margin-left: -400%;
        }
    } 


    /* Nav Bar */

    
                /* Cards */

    .container1{
        padding: 0 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .card{
        height: 350px;
        max-width: 350px;
        margin: 0 20px;
        background: #282828;
        transition: 0.4s;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
      }
      .card:hover{
        height: 470px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
      }
      .card .img{
        height: 200px;
        width: 100%;
      }
      .card .img img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      
      .card .top-text .name{
        padding: 15px;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        color: white;
      }
      .card .top-text p{
        padding: 15px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: #69bde7;
        line-height: 20px;
      }
      .card .bottom-text{
          color: white;
        padding: 0 20px 10px 20px;
        margin-top: 5px;
        background: #282828;
        opacity: 0;
        visibility: hidden;
        transition: 0.1s;
      }
      .card:hover .bottom-text{
        opacity: 1;
        visibility: visible;
      }
      .card .bottom-text .text{
        text-align: justify;
        padding-top: 15px;
      }
      .btn1{
          text-align: center;
      }
      
      .btn1 a{
        text-align: center;
        text-decoration: none;
        background: #585858;
        color: #f2f2f2;
        padding: 7px 10px;
        border-radius: 3px;
        display: inline-flex;
        transition: 0.2s;
      }

      .card .bottom-text .btn2{
        margin: 10px 0;
        text-align: center;
        padding-top: 15px;
      }
      .card .bottom-text .btn2 a{
        text-decoration: none;
        background: #69bde7;
        color: #f2f2f2;
        padding: 7px 10px;
        border-radius: 3px;
        display: inline-flex;
        transition: 0.2s;
      }

      .card .btn1 a:hover{
        transform: scale(0.9);
        background-color: #69bde7;
      }

      .card .bottom-text .btn2 a:hover{
        transform: scale(0.9);
      }
      @media screen and (max-width: 978px) {
        .container1{
            display: flex;
            justify-content: space-between;
        }
        .container1{
          flex-wrap: wrap;
          flex-direction: column;
        }
        .card{
          max-width: 700px;
          margin: 20px 0;
        }
      }

      .btn3{
        text-align: center;
        text-decoration: none;
        background: #69bde7;
        color: #f2f2f2;
        padding: 7px 10px;
        border-radius: 3px;
        display: inline-flex;
        transition: 0.2s;
      }
      .btn-3 .btn3 a:hover{
        transform: scale(0.9);
          }


       

/*slider css*/
ul{
    list-style:none;
}
a{
    text-decoration:none;
}

.box1{
    width:350px;
    height:510px;
    background-color:#303030    ;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 30px 10px;
}
.model{
    height: 350px;
    max-height: 100%;
    max-width: 100%;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.btn2{
    text-align: center;
}

.btn2 a{
  text-align: center;
  text-decoration: none;
  background: #585858;
  color: #f2f2f2;
  padding: 7px 10px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
  margin-bottom:20px;
}
.btn2 a:hover{
    transform: scale(0.9);
    background-color: #69bde7;
  }
.marvel{
    padding-top: 22px;
    /* padding-bottom: 15px; */
    color:#fff;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: bebas kai;
    font-size: 21px;
}
.logo1{
    height: 60px;
}
.box1:hover{
    background-color: #17171d;
    transform-style: preserve-3d;
    transform: scale(1.02);
    transition: all ease 0.3s;
}
.box1:hover .marvel{
    color:#69bde7;
    transition: all ease 0.5s;
}
/* --responsive for mobile phone-- */
@media(max-width:720px)
{
    .box1{
        width: 94%;
        height: 500px;
    }
    .model{
        height:250px;
    }
    .details p{
        font-size: 16px;
        width: 250px;
    }
    
}
          