*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{
    background-color: black;
}



/* NAV BAR */





/* BACK-IMAGE */
.back-img {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('all-shows-images/back-img3.jpg');
    background-size: cover;
    height: 100vh;
  }
  
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  .title h1 {
    text-transform: uppercase;
    margin: 0;
    /* font-size: 3rem; */
    white-space: nowrap;
  }


/*slider css*/
ul{
    list-style:none;
}
a{
    text-decoration:none;
}

.box1{
    width:290px;
    height:390px;
    background-color:#303030    ;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 30px 10px;
}
.model{
    height: 250px;
    max-height: 100%;
    max-width: 100%;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.btn2{
    text-align: center;
}

.btn2 a{
  text-align: center;
  text-decoration: none;
  background: #585858;
  color: #f2f2f2;
  padding: 7px 10px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
  margin-bottom:20px;
}
.btn2 a:hover{
    transform: scale(0.9);
    background-color: #69bde7;
  }
.marvel{
    padding-top: 22px;
    /* padding-bottom: 15px; */
    color:#fff;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: bebas kai;
    font-size: 21px;
}
.logo1{
    height: 60px;
}
.box1:hover{
    background-color: #17171d;
    transform-style: preserve-3d;
    transform: scale(1.02);
    transition: all ease 0.3s;
}
.box1:hover .marvel{
    color:#69bde7;
    transition: all ease 0.5s;
}
/* --responsive for mobile phone-- */
@media(max-width:720px)
{
    .box1{
        width: 94%;
        height: 500px;
    }
    .model{
        height:250px;
    }
    .details p{
        font-size: 16px;
        width: 250px;
    }
    
}
          